In [9]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [10]:
# Read the csv file into a pandas DataFrame
attendance = pd.read_csv('Data/10-yr-data/attendance.csv')
attendance.head()

,Starting Year,Rank,Team,Home: Total Games,Home: Total Attendance,Home: Avg Attendance,Home: % Capactiy,Away: Total Games,Away: Total Attendance,Away: Avg Attendance,Away: % Capactiy,Total AVG,Total PCT
0,2016,28,Philadelphia 76ers,41,610121.0,14881.0,73.2,41,17491.0,90.7,82,16186.0,81.95
1,2015,28,Philadelphia 76ers,41,610121.0,14881.0,73.2,41,17491.0,90.7,82,16186.0,81.95
2,2014,30,Philadelphia 76ers,41,571572.0,13940.0,68.6,41,17665.0,91.8,82,15803.0,80.20
3,2013,29,Philadelphia 76ers,41,568632.0,13869.0,68.2,41,17441.0,90.5,82,15655.0,79.35
4,2012,17,Philadelphia 76ers,41,685412.0,16717.0,82.2,41,17323.0,90.2,82,17020.0,86.20

In [11]:
allstars = pd.read_csv('Data/10-yr-data/allstars.csv')
allstars.head()

        Year           Team  Count of Player
0  2011-2012  Atlanta Hawks                0
1  2006-2007  Atlanta Hawks                1
2  2007-2008  Atlanta Hawks                1
3  2010-2011  Atlanta Hawks                1
4  2012-2013  Atlanta Hawks                1

         Year\tTeam\tCount of Player
0        2006-2007\tAtlanta Hawks\t1
1       2006-2007\tBoston Celtics\t3
2  2006-2007\tCleveland Cavaliers\t1
3     2006-2007\tDallas Mavericks\t1
4       2006-2007\tDenver Nuggets\t2

In [ ]:
# Assign the data to X and y
X = df.TotalAttendance.values.reshape(-1, 1)
y = df.WinLoss.values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)
X

In [ ]:
# Plot the data
plt.scatter(X, y)

In [ ]:
# Create the model and fit the model to the data
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [ ]:
# Fit the model to the data
model.fit(X, y)

In [ ]:
# Print the coefficient and the intercept for the model

print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

In [ ]:
# Transform min and max values to the proper format for model.predict() 
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])
print(f"Min X Value: {x_min}")
print(f"Max X Value: {x_max}")

In [ ]:
y_min = model.predict(x_min)
y_max = model.predict(x_max)

In [ ]:
plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')