In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('bubbledata.csv')
df.head()

   attendance  winning %  salary cap  #allstars                Year/Team
0        0.89       0.45        1.16          1  2008-2009 Atlanta Hawks
1        0.88       0.57        1.05          2  2009-2010 Atlanta Hawks
2        0.84       0.65        1.17          2  2010-2011 Atlanta Hawks
3        0.81       0.54        1.23          1  2011-2012 Atlanta Hawks
4        0.81       0.61        1.13          0  2012-2013 Atlanta Hawks

In [5]:
for i in df.index:
    df.loc[i].to_json("row{}.json".format(i))

SyntaxError: invalid syntax (<ipython-input-5-b3dd19693b29>, line 1)